<tr style="position: sticky; top: 30px; z-index: 9;">
    <th style="display: none;"></th>
    <th class="sticky" style="width: 30px; left: 0px; z-index: 6;"></th>
    <th class="sticky" style="top: 30px; z-index: 6; text-align: left;" colspan="10">
        <div><b>COMPETITION NAME</b></div>
    </th>
    <th colspan="40"></th>
</tr>
<tr style="position: sticky; top: 58px; z-index: 8;">
    <th style="display: none;" data-key="0"></th> {# main_id #}
    <th class="sticky" style="width: 30px; z-index: 6;" data-key="1" data-index="sort" data-type="cancelSorting">№</th>
    <th class="sticky" style="z-index: 6;" data-key="2" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 300px;" data-en="Surname Name" data-uk="Прізвище Ім'я" data-pl="Nazwisko Imię">Surname Name</div>
        <div class="resizer"></div></th>
    <th class="sticky" style="z-index: 6;" data-index="sort" data-key="3" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 55px;" data-en="Day" data-uk="Дн" data-pl="Dn">Day</div></th>
    <th class="sticky" style="z-index: 6;" data-index="sort" data-key="4" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 55px;" data-en="Mo" data-uk="Mic" data-pl="M-c">Mo</div></th>
    <th class="sticky" style="z-index: 6;" data-index="sort" data-key="5" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 75px;" data-en="Year" data-uk="Рік" data-pl="Rok">Year</div></th>
    <th class="sticky" draggable="true" style="z-index: 6;" data-key="6" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 87px;" data-en="Wt cat" data-uk="Bar кат" data-pl="Kat wag">Wt cat</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="7" data-index="sort" data-type="number">
        <span class="sort-icon"></span>
        <div style="width: 75px;" data-en="BW" data-uk="Bar вл" data-pl="MC">BW</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="8" data-index="sort" data-type="number">
        <span class="sort-icon"></span>
        <div style="width: 75px;" data-en="Wilks" data-uk="Biлкc" data-pl="Wilks">Wilks</div>
        <div class="resizer"></div></th>
    <th style="display: none;" data-key="9"></th>
    <th draggable="true" data-key="10" data-index="sort" data-type="number">
        <span class="sort-icon"></span>
        <div style="width: 50px;" data-en="Grp" data-uk="Гр" data-pl="Grp">Grp</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="11" data-index="sort" data-type="number">
        <span class="sort-icon"></span>
        <div style="width: 50px;" data-en="Lot" data-uk="Жр" data-pl="Los">Lot</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="12" data-index="sort" data-type="string" data-lang-show="uk">
        <span class="sort-icon"></span>
        <div data-en="Rank" data-uk="Розряд" data-pl="Klasa"></div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="13" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 150px;" data-en="Region / Team" data-uk="Perioн / Koмaндa" data-pl="Region / Drużyna">Region / Team</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="14" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 150px;" data-en="City" data-uk="Місто" data-pl="Miasto">City</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="15" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 130px;" data-en="Club" data-uk="Клуб" data-pl="Club">Club</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="16" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 130px;" data-en="Trener 1" data-uk="Tpeнep 1" data-pl="Trener 1">Trener 1</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="17" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 130px;" data-en="Trener 2" data-uk="Tpeнep 2" data-pl="Trener 2">Trener 2</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="18" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 130px;" data-en="Trener 3" data-uk="Tpeнep 3" data-pl="Trener 3">Trener 3</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="19" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 130px;" data-en="Trener 4" data-uk="Tpeнep 4" data-pl="Trener 4">Trener 4</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="20" data-index="sort" data-type="string">
        <span class="sort-icon"></span>
        <div style="width: 130px;" data-en="Titles" data-uk="Tитyли" data-pl="Tytuły">Titles</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="21" data-index="sort" data-type="checkbox">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="personally" data-uk="oco6иcтo" data-pl="indywidualnie">personally</div></th>
    <th draggable="true" data-key="22" data-index="sort" data-type="checkbox">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="out of comp" data-uk="поза конк" data-pl="poza konk">out of comp</div></th>
    <th draggable="true" data-key="23" data-index="sort" data-type="checkbox">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="MD" data-uk="зн лік" data-pl="wyc przez lek">MD</div></th>
    <th draggable="true" data-key="24" data-index="sort" data-type="checkbox">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="double" data-uk="дубль" data-pl="dubel">double</div></th>
    <th draggable="true" data-key="25" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Squat nom" data-uk="Прис ном" data-pl="Przys nom">Squat nom</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="26" data-index="sort" data-type="number">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="BP nom" data-uk="Жим ном" data-pl="WL nom">BP nom</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="27" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="DL nom" data-uk="Тяга ном" data-pl="MC nom">DL nom</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="28" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Total nom" data-uk="Сума ном" data-pl="Suma nom">Total nom</div>
        <div class="resizer"></div></th>
    <th style="display: none;" data-key="29"></th>
    <th draggable="true" data-key="30" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Squat" data-uk="Присідання" data-pl="Przysiad">Squat</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="31" data-index="sort" data-type="number">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Bench press" data-uk="Жим" data-pl="Wyciskanie">Bench press</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="32" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Deadlift" data-uk="Тяга" data-pl="Ciąg">Deadlift</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="33" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Total 1 att" data-uk="Сума 1 спр" data-pl="Suma 1 pod">Total 1 att</div>
        <div class="resizer"></div></th>
    <th style="display: none;" data-key="34"></th>
    <th draggable="true" data-key="35" data-index="sort" data-type="number" data-discipline="bench_press">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="BP fcst" data-uk="Жим прог" data-pl="WL prog">BP fcst</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="36" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Squat res" data-uk="Прис рез" data-pl="Przys rez">Squat res</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="37" data-index="sort" data-type="number">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="BP res" data-uk="Жим рез" data-pl="WL rez">BP res</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="38" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="DL res" data-uk="Тяга рез" data-pl="MC rez">DL res</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="39" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Total fcst" data-uk="Сума прог" data-pl="Suma prog">total fcst</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="40" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Total" data-uk="Сума" data-pl="Suma">total</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="41" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Wilks fcst" data-uk="Вілкс прог" data-pl="Wilks prog">Wilks fcst</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="42" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Wilks total" data-uk="Вілкс сума" data-pl="Wilks suma">Wilks total</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="43" data-index="sort" data-type="number" data-discipline="bench_press">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Wilks fcst" data-uk="Вілкс прог" data-pl="Wilks prog">Wilks fcst</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="44" data-index="sort" data-type="number" data-discipline="bench_press">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Wilks BP" data-uk="Вілкс жим" data-pl="Wilks WL">Wilks BP</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="45" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Rnk fcst" data-uk="Місце прог" data-pl="Rnk prog">Rnk fcst</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="46" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Ranking" data-uk="Місце" data-pl="Ranking">Ranking</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="47" data-index="sort" data-type="number" data-discipline="powerlifting">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Points" data-uk="Очки" data-pl="Punkty">Points</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="48" data-index="sort" data-type="number" data-discipline="bench_press">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Rnk fcst" data-uk="Місце прог" data-pl="Rnk prog">Rnk fcst</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="49" data-index="sort" data-type="number" data-discipline="bench_press">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Ranking" data-uk="Місце" data-pl="Ranking">Ranking</div>
        <div class="resizer"></div></th>
    <th draggable="true" data-key="50" data-index="sort" data-type="number" data-discipline="bench_press">
        <span class="sort-icon"></span>
        <div style="width: 100px;" data-en="Points" data-uk="Очки" data-pl="Punkty">Points</div>
        <div class="resizer"></div></th>
</tr>