parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    App\EventListener\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

# Main Service
    App\Service\Main\Page\LoginPageResolver: ~
    App\Service\Main\Page\ParticipantPageResolver: ~
    App\Service\Main\Page\RedirectionPageResolver: ~

    App\Service\Main\ResolverFactory:
        arguments:
            $resolvers:
                - '@App\Service\Main\Page\LoginPageResolver'
                - '@App\Service\Main\Page\ParticipantPageResolver'
                - '@App\Service\Main\Page\RedirectionPageResolver'

# Login Service
    App\Service\Login\:
        resource: '../src/Service/Login/*'
        exclude: 
            - '../src/Service/Login/LoginMethod/*'
            - '../src/Service/Login/Filler/*'
            - '../src/Service/Login/Strategy/Implementation/*'
            - '../src/Service/Login/LoginVerification/*'
            - '../src/Service/Login/Result/*'
            - '../src/Service/Login/Strategy/Policy/*'
            - '../src/Service/Login/Sessions/SessionService/*'
            - '../src/Service/Login/DeleteOldLogin/DeleteFiller/*'
            - '../src/Service/Login/DeleteOldLogin/DeletePreviousReg/*'
        autowire: true
        autoconfigure: true

    App\Service\Login\LoginMethod\:
        resource: '../src/Service/Login/LoginMethod/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_method']

    App\Service\Login\LoginFactory:
        arguments:
            $checkers: !tagged_iterator app.login_method

    App\Service\Login\Filler\:
        resource: '../src/Service/Login/Filler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_filler']

    App\Service\Login\LoginContextBuilder:
        arguments:
            $fillers: !tagged_iterator app.login_filler

    App\Service\Login\Strategy\Implementation\:
        resource: '../src/Service/Login/Strategy/Implementation/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_strategy']

    App\Service\Login\StrategyFactory:
        arguments:
            $checkers: !tagged_iterator app.login_strategy

    App\Service\Login\LoginVerification\:
        resource: '../src/Service/Login/LoginVerification/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_checker']

    App\Service\Login\LoginCheckerResolver:
        arguments:
            $checkers: !tagged_iterator app.login_checker

    App\Service\Login\Result\:
        resource: '../src/Service/Login/Result/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_result']

    App\Service\Login\LoginResultBuilder:
        arguments:
            $fillers: !tagged_iterator app.login_result

    App\Service\Login\Strategy\Policy\:
        resource: '../src/Service/Login/Strategy/Policy/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_policy']

    App\Service\Login\Strategy\LoginPolicyResolver:
        arguments:
            $policies: !tagged_iterator app.login_policy

    App\Service\Login\Infrastructure\EventListener\CreateSessionListener:
        tags:
            - { name: kernel.event_listener, event: App\Service\Login\Event\LoginCompletedEvent }

    App\Service\Login\Infrastructure\EventListener\SaveLoginDataListener:
        tags:
            - { name: kernel.event_listener, event: App\Service\Login\Event\LoginCompletedEvent }

    App\Service\Login\Sessions\SessionService\:
        resource: '../src/Service/Login/Sessions/SessionService/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_session_action']

    App\Service\Login\Sessions\SessionFactory:
        arguments:
            $actions: !tagged_iterator app.login_session_action

    App\Service\Login\DeleteOldLogin\DeleteFiller\:
        resource: '../src/Service/Login/DeleteOldLogin/DeleteFiller/*'
        autowire: true
        autoconfigure: true
        tags: ['app.delete_filler']

    App\Service\Login\DeleteOldLogin\DeletePrevRegContextBuilder:
        arguments:
            $fillersDel: !tagged_iterator app.delete_filler

    App\Service\Login\DeleteOldLogin\DeletePreviousReg\:
        resource: '../src/Service/Login/DeleteOldLogin/DeletePreviousReg/*'
        autowire: true
        autoconfigure: true
    
    App\Service\Login\DeleteOldLogin\DeletePreviousReg\DeletePreviousRegFailure:
        tags:
            - { name: 'app.delete_checker', priority: -1000 }

    App\Service\Login\DeleteOldLogin\DeletePreviousReg\DeletePreviousRegService:
        tags:
            - { name: 'app.delete_checker', priority: 100 }

    App\Service\Login\DeleteOldLogin\DeletePrevRegChecker:
        arguments:
            $checkersDel: !tagged_iterator app.delete_checker