parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    App\EventListener\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

# Main Service
    App\Service\Main\Page\LoginPageResolver: ~
    App\Service\Main\Page\ParticipantPageResolver: ~
    App\Service\Main\Page\RedirectionPageResolver: ~

    App\Service\Main\ResolverFactory:
        arguments:
            $resolvers:
                - '@App\Service\Main\Page\LoginPageResolver'
                - '@App\Service\Main\Page\ParticipantPageResolver'
                - '@App\Service\Main\Page\RedirectionPageResolver'

# Login Service
    App\Service\Login\:
        resource: '../src/Service/Login/*'
        exclude: 
            - '../src/Service/Login/LoginMethod/*'
            - '../src/Service/Login/Filler/*'
            - '../src/Service/Login/Strategy/Implementation/*'
            - '../src/Service/Login/LoginVerification/*'
            - '../src/Service/Login/Result/*'
            - '../src/Service/Login/Strategy/Policy/*'
            - '../src/Service/Login/LoginCompleted/*'
            - '../src/Service/Login/Sessions/SessionService/*'
            - '../src/Service/Login/DeleteOldLogin/DeleteFiller/*'
            - '../src/Service/Login/DeleteOldLogin/DeletePreviousReg/*'
        autowire: true
        autoconfigure: true

    App\Service\Login\LoginMethod\:
        resource: '../src/Service/Login/LoginMethod/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_method']

    App\Service\Login\LoginFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkers: !tagged_iterator app.login_method

    App\Service\Login\Filler\:
        resource: '../src/Service/Login/Filler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_filler']

    App\Service\Login\LoginContextBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillers: !tagged_iterator app.login_filler

    App\Service\Login\Strategy\Implementation\:
        resource: '../src/Service/Login/Strategy/Implementation/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_strategy']

    App\Service\Login\StrategyFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkers: !tagged_iterator app.login_strategy

    App\Service\Login\LoginVerification\:
        resource: '../src/Service/Login/LoginVerification/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_checker']

    App\Service\Login\LoginCheckerResolver:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkers: !tagged_iterator app.login_checker

    App\Service\Login\Result\:
        resource: '../src/Service/Login/Result/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_result']

    App\Service\Login\LoginResultBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillers: !tagged_iterator app.login_result

    App\Service\Login\Strategy\Policy\:
        resource: '../src/Service/Login/Strategy/Policy/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_policy']

    App\Service\Login\Strategy\LoginPolicyResolver:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $policies: !tagged_iterator app.login_policy

    App\Service\Login\LoginCompleted\:
        resource: '../src/Service/Login/LoginCompleted/*'
        autowire: true
        autoconfigure: true
        tags: ['app.post_login']

    App\Service\Login\LoginCompleted\CreateSession:
        tags:
            - { name: 'app.post_login', priority: -1000 }

    App\Service\Login\LoginCompleted\SaveLoginData:
        tags:
            - { name: 'app.post_login', priority: 100 }

    App\Service\Login\LoginCompleted:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $postLoginActions: !tagged_iterator app.post_login

    App\Service\Login\Sessions\SessionService\:
        resource: '../src/Service/Login/Sessions/SessionService/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_session_action']

    App\Service\Login\Sessions\SessionFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $actions: !tagged_iterator app.login_session_action

    App\Service\Login\DeleteOldLogin\DeleteFiller\:
        resource: '../src/Service/Login/DeleteOldLogin/DeleteFiller/*'
        autowire: true
        autoconfigure: true
        tags: ['app.delete_filler']

    App\Service\Login\DeleteOldLogin\DeletePrevRegContextBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillersDel: !tagged_iterator app.delete_filler

    App\Service\Login\DeleteOldLogin\DeletePreviousReg\:
        resource: '../src/Service/Login/DeleteOldLogin/DeletePreviousReg/*'
        autowire: true
        autoconfigure: true
    
    App\Service\Login\DeleteOldLogin\DeletePreviousReg\DeletePreviousRegFailure:
        tags:
            - { name: 'app.delete_checker', priority: -1000 }

    App\Service\Login\DeleteOldLogin\DeletePreviousReg\DeletePreviousRegService:
        tags:
            - { name: 'app.delete_checker', priority: 100 }

    App\Service\Login\DeleteOldLogin\DeletePrevRegChecker:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkersDel: !tagged_iterator app.delete_checker

# ShowConnections Service

    App\Service\ShowConnections\:
        resource: '../src/Service/ShowConnections/*'
        exclude: 
            - '../src/Service/ShowConnections/GetData/*'
            - '../src/Service/ShowConnections/Connections/*'
        autowire: true
        autoconfigure: true

    App\Service\ShowConnections\GetData\:
        resource: '../src/Service/ShowConnections/GetData/*'
        autowire: true
        autoconfigure: true
        tags: ['app.conn_data']

    App\Service\ShowConnections\UserDataFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $policies: !tagged_iterator app.conn_data

    App\Service\ShowConnections\Connections\:
        resource: '../src/Service/ShowConnections/Connections/*'
        autowire: true
        autoconfigure: true
        tags: ['app.connections']

    App\Service\ShowConnections\ConnectionsFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $policies: !tagged_iterator app.connections