parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    App\EventListener\ExceptionListener:
        tags: []
        #    - { name: kernel.event_listener, event: kernel.exception }

# Main Service
    App\Service\Main\Page\LoginPageResolver: ~
    App\Service\Main\Page\ParticipantPageResolver: ~
    App\Service\Main\Page\RedirectionPageResolver: ~
    App\Service\Main\Page\PagesResolver: ~

    App\Service\Main\ResolverFactory:
        arguments:
            $resolvers:
                - '@App\Service\Main\Page\LoginPageResolver'
                - '@App\Service\Main\Page\ParticipantPageResolver'
                - '@App\Service\Main\Page\RedirectionPageResolver'
                - '@App\Service\Main\Page\PagesResolver'

# Login Service
    App\Service\Login\:
        resource: '../src/Service/Login/*'
        exclude: 
            - '../src/Service/Login/LoginMethod/*'
            - '../src/Service/Login/Filler/*'
            - '../src/Service/Login/Strategy/Implementation/*'
            - '../src/Service/Login/LoginVerification/*'
            - '../src/Service/Login/Result/*'
            - '../src/Service/Login/Strategy/Policy/*'
            - '../src/Service/Login/LoginCompleted/*'
            - '../src/Service/Login/Sessions/SessionService/*'
        autowire: true
        autoconfigure: true

    App\Service\Login\LoginMethod\:
        resource: '../src/Service/Login/LoginMethod/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_method']

    App\Service\Login\LoginFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkers: !tagged_iterator app.login_method

    App\Service\Login\Filler\:
        resource: '../src/Service/Login/Filler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_filler']

    App\Service\Login\LoginContextBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillers: !tagged_iterator app.login_filler

    App\Service\Login\Strategy\Implementation\:
        resource: '../src/Service/Login/Strategy/Implementation/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_strategy']

    App\Service\Login\StrategyFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkers: !tagged_iterator app.login_strategy

    App\Service\Login\LoginVerification\:
        resource: '../src/Service/Login/LoginVerification/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_checker']

    App\Service\Login\LoginCheckerResolver:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkers: !tagged_iterator app.login_checker

    App\Service\Login\Result\:
        resource: '../src/Service/Login/Result/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_result']

    App\Service\Login\LoginResultBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillers: !tagged_iterator app.login_result

    App\Service\Login\Strategy\Policy\:
        resource: '../src/Service/Login/Strategy/Policy/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_policy']

    App\Service\Login\Strategy\LoginPolicyResolver:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $policies: !tagged_iterator app.login_policy

    App\Service\Login\LoginCompleted\:
        resource: '../src/Service/Login/LoginCompleted/*'
        autowire: true
        autoconfigure: true
        tags: ['app.post_login']

    App\Service\Login\LoginCompleted\CreateSession:
        tags:
            - { name: 'app.post_login', priority: -1000 }

    App\Service\Login\LoginCompleted\SaveLoginData:
        tags:
            - { name: 'app.post_login', priority: 100 }

    App\Service\Login\LoginCompleted:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $postLoginActions: !tagged_iterator app.post_login

    App\Service\Login\Sessions\SessionService\:
        resource: '../src/Service/Login/Sessions/SessionService/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_session_action']

    App\Service\Login\Sessions\SessionFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $actions: !tagged_iterator app.login_session_action

# StatusService

    App\Service\StatusService\:
        resource: '../src/Service/StatusService/*'
        exclude: 
            - '../src/Service/StatusService/RequestAction/*'

    App\Service\StatusService\RequestAction\:
        resource: '../src/Service/StatusService/RequestAction/*'
        autowire: true
        autoconfigure: true
        tags: ['app.request_action']

    App\Service\StatusService\RequestActionFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $requestActions: !tagged_iterator app.request_action

# DeleteConnection Service

    App\Service\DeleteConnection\:
        resource: '../src/Service/DeleteConnection/*'
        exclude: 
            - '../src/Service/DeleteConnection/DeleteFiller/*'
            - '../src/Service/DeleteConnection/CleanConnection/*'
        autowire: true
        autoconfigure: true

    App\Service\DeleteConnection\DeleteFiller\:
        resource: '../src/Service/DeleteConnection/DeleteFiller/*'
        autowire: true
        autoconfigure: true
        tags: ['app.delete_filler']

    App\Service\DeleteConnection\DeleteConnectionContextBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillersDel: !tagged_iterator app.delete_filler

    App\Service\DeleteConnection\CleanConnection\:
        resource: '../src/Service/DeleteConnection/CleanConnection/*'
        autowire: true
        autoconfigure: true
        tags: ['app.delete_checker']

    App\Service\DeleteConnection\DeleteConnectionChecker:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $checkersDel: !tagged_iterator app.delete_checker

# Redirection Service

    App\Service\Redirection\:
        resource: '../src/Service/Redirection/*'
        exclude: 
            - '../src/Service/Redirection/Actions/*'
            - '../src/Service/Redirection/RequestHandler/*'
            - '../src/Service/Redirection/CheckAdmin/Filler/*'
            - '../src/Service/Redirection/ShowConnections/GetData/*'
            - '../src/Service/Redirection/ShowConnections/Connections/*'
        autowire: true
        autoconfigure: true

    App\Service\Redirection\Actions\:
        resource: '../src/Service/Redirection/Actions/*'
        autowire: true
        autoconfigure: true
        tags: ['app.redirect_actions']

    App\Service\Redirection\PageActionFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $actions: !tagged_iterator app.redirect_actions

    App\Service\Redirection\RequestHandler\:
        resource: '../src/Service/Redirection/RequestHandler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.request_handler']

    App\Service\Redirection\RequestHandler:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $handlers: !tagged_iterator app.request_handler

    App\Service\Redirection\CheckAdmin\Filler\:
        resource: '../src/Service/Redirection/CheckAdmin/Filler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.check_admin']

    App\Service\Redirection\CheckAdmin\CheckAdminContextBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillers: !tagged_iterator app.check_admin

    App\Service\Redirection\ShowConnections\GetData\:
        resource: '../src/Service/Redirection/ShowConnections/GetData/*'
        autowire: true
        autoconfigure: true
        tags: ['app.conn_data']

    App\Service\Redirection\ShowConnections\UserDataFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $getData: !tagged_iterator app.conn_data

    App\Service\Redirection\ShowConnections\Connections\:
        resource: '../src/Service/Redirection/ShowConnections/Connections/*'
        autowire: true
        autoconfigure: true
        tags: ['app.connections']

    App\Service\Redirection\ShowConnections\ConnectionsFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $connections: !tagged_iterator app.connections

# GoBack

    App\Service\GoBack\:
        resource: '../src/Service/GoBack/*'
        exclude: 
            - '../src/Service/GoBack/Action/*'
            - '../src/Service/GoBack/GoBackFiller/*'
        autowire: true
        autoconfigure: true

    App\Service\GoBack\Action\:
        resource: '../src/Service/GoBack/Action/*'
        autowire: true
        autoconfigure: true
        tags: ['app.goBack_actions']

    App\Service\GoBack\GoBackFactory:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $goBackResolvers: !tagged_iterator app.goBack_actions

    App\Service\GoBack\GoBackFiller\:
        resource: '../src/Service/GoBack/GoBackFiller/*'
        autowire: true
        autoconfigure: true
        tags: ['app.goBack_context']

    App\Service\GoBack\GoBackContextBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillersGoBack: !tagged_iterator app.goBack_context

# Admin
## MainPage
### UpdateCompetition

    App\Service\Admin\MainPage\UpdateCompetition\:
        resource: '../src/Service/Admin/MainPage/UpdateCompetition/*'
        exclude: 
            - '../src/Service/Admin/MainPage/UpdateCompetition/Filler/*'
            - '../src/Service/Admin/MainPage/UpdateCompetition/Result/*'
        autowire: true
        autoconfigure: true

    App\Service\Admin\MainPage\UpdateCompetition\Filler\:
        resource: '../src/Service/Admin/MainPage/UpdateCompetition/Filler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.competition_filler']

    App\Service\Admin\MainPage\UpdateCompetition\CompetitionContextBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $fillersComp: !tagged_iterator app.competition_filler

    App\Service\Admin\MainPage\UpdateCompetition\Result\:
        resource: '../src/Service/Admin/MainPage/UpdateCompetition/Result/*'
        autowire: true
        autoconfigure: true
        tags: ['app.competition_service']

    App\Service\Admin\MainPage\UpdateCompetition\CompetitionService:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $resultComp: !tagged_iterator app.competition_service

    App\Service\Admin\MainPage\UpdateCompetition\Result\CompetitionDataWriter:
        tags:
            - { name: 'app.competition_service', priority: 1000 } 

### GetCompetitionData

    App\Service\Admin\MainPage\GetCompetitionData\:
        resource: '../src/Service/Admin/MainPage/GetCompetitionData/*'
        exclude: 
            - '../src/Service/Admin/MainPage/GetCompetitionData/DataFiller/*'
            - '../src/Service/Admin/MainPage/GetCompetitionData/ResultsProvider/*'
        autowire: true
        autoconfigure: true 

    App\Service\Admin\MainPage\GetCompetitionData\DataFiller\:
        resource: '../src/Service/Admin/MainPage/GetCompetitionData/DataFiller/*'
        autowire: true
        autoconfigure: true
        tags: ['app.competition_data_filler']

    App\Service\Admin\MainPage\GetCompetitionData\CompetitionDataBuilder:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $dataFillersComp: !tagged_iterator app.competition_data_filler

    App\Service\Admin\MainPage\GetCompetitionData\ResultsProvider\:
        resource: '../src/Service/Admin/MainPage/GetCompetitionData/ResultsProvider/*'
        autowire: true
        autoconfigure: true
        tags: ['app.results_provider']

    App\Service\Admin\MainPage\GetCompetitionData\CompetitionDataService:
        public: true
        autowire: true
        autoconfigure: true
        arguments:
            $dataFillersComp: !tagged_iterator app.results_provider