# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    App\EventListener\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }
    
    App\Service\Login\Filler\:
        resource: '../src/Service/Login/Filler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_filler']

    App\Service\Login\LoginContextBuilder:
        arguments:
            $fillers: !tagged_iterator app.login_filler

    App\Service\Login\:
        resource: '../src/Service/Login/*'
        exclude: '../src/Service/Login/Filler/*'
        autowire: true
        autoconfigure: true

    App\Service\Login\Strategy\:
        resource: '../src/Service/Login/Strategy/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_strategy']

    App\Service\Login\PostLoginFactory:
        arguments:
            $strategies: !tagged_iterator app.login_strategy

    App\Service\Login\Strategy\Sessions\:
        resource: '../src/Service/Login/Strategy/Sessions/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_session_service']

    App\Service\Login\LoginService:
        arguments:
            $sessionStrategies: !tagged_iterator app.login_session_service

    App\Service\Login\StatusManager\ParticipantStatusHandler:
        tags: ['app.status_handler']

    App\Service\Login\StatusManager\DefaultStatusHandler:
        tags: ['app.status_handler']

    App\Service\Login\StatusManager\UserStatusManager:
        arguments:
            $handlers: !tagged_iterator app.status_handler

    App\Service\Login\StatusTableLogin\:
        resource: '../src/Service/Login/StatusTableLogin/*'
        exclude: '../src/Service/Login/StatusTableLogin/DeletePrevRegFiller/*'
        autowire: true
        autoconfigure: true

    App\Service\Login\StatusTableLogin\DeletePrevRegFiller\:
        resource: '../src/Service/Login/StatusTableLogin/DeletePrevRegFiller/*'
        autowire: true
        autoconfigure: true

    App\Service\Login\StatusTableLogin\DeletePrevRegFiller\DeletePrevRegFiller:
        tags: ['app.delete_prev_reg_filler']
    
    App\Service\Login\StatusTableLogin\DeletePrevRegContextBuilder:
        arguments:
            $fillers: !tagged_iterator app.delete_prev_reg_filler

    App\Service\Redirection\StatusTableRedirection\ComputerStatusChecker:
        arguments:
            $repo: '@App\Repository\ComputerStatusRepository'

    App\Service\Redirection\StatusTableRedirection\Filler\:
        resource: '../src/Service/Redirection/StatusTableRedirection/Filler/*'
        autowire: true
        autoconfigure: true

    App\Service\Redirection\StatusTableRedirection\ComputerStatusContextBuilder:
        arguments:
            $fillers: !tagged_iterator app.computer_status_filler

    # App\Service\Redirection\StatusTableRedirection\Filler\ComputerStatusFillerInterface:

    App\Service\Redirection\StatusTableRedirection\Filler\UserIdComputerStatusFiller:
        tags: ['app.computer_status_filler']

    
