# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    App\EventListener\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

# Main Service

    App\Service\Main\Page\:
        resource: '../src/Service/Main/Page/*'
        autowire: true
        autoconfigure: true
        tags: ['app.page_resolver']

    App\Service\Main\ResolverFactory:
        arguments:
            $resolvers: !tagged_iterator app.page_resolver

    App\Service\Main\:
        resource: '../src/Service/Main/*'
        exclude: '../src/Service/Main/Page/*'
        autowire: true
        autoconfigure: true

# AllSessions Service

#    App\Service\AllSessions\SessionService\:
#        resource: '../src/Service/AllSessions/SessionService/*'
#        autowire: true
#        autoconfigure: true
#        tags: ['app.session_action']

#    App\Service\AllSessions\SessionFactory:
#        arguments:
#            $actions: !tagged_iterator app.session_action

#    App\Service\AllSessions\:
#        resource: '../src/Service/AllSessions/*'
#        exclude: '../src/Service/AllSessions/SessionService/*'
#        autowire: true
#        autoconfigure: true

# Login Service

    App\Service\Login\:
        resource: '../src/Service/Login/*'
        exclude: 
            - '../src/Service/Login/LoginMethod/*'
            - '../src/Service/Login/Filler/*'
            - '../src/Service/Login/Strategy/Implementation/*'
            - '../src/Service/Login/LoginVerification/*'
            - '../src/Service/Login/Result/*'
            - '../src/Service/Login/Strategy/Policy/*'
        autowire: true
        autoconfigure: true

    App\Service\Login\LoginMethod\:
        resource: '../src/Service/Login/LoginMethod/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_method']

    App\Service\Login\LoginFactory:
        arguments:
            $checkers: !tagged_iterator app.login_method

    App\Service\Login\Filler\:
        resource: '../src/Service/Login/Filler/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_filler']

    App\Service\Login\LoginContextBuilder:
        arguments:
            $fillers: !tagged_iterator app.login_filler

    App\Service\Login\Strategy\Implementation\:
        resource: '../src/Service/Login/Strategy/Implementation/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_strategy']

    App\Service\Login\StrategyFactory:
        arguments:
            $checkers: !tagged_iterator app.login_strategy

    App\Service\Login\LoginVerification\:
        resource: '../src/Service/Login/LoginVerification/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_checker']

    App\Service\Login\LoginCheckerResolver:
        arguments:
            $checkers: !tagged_iterator app.login_checker

    App\Service\Login\Result\:
        resource: '../src/Service/Login/Result/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_result']

    App\Service\Login\LoginResultBuilder:
        arguments:
            $fillers: !tagged_iterator app.login_result

    App\Service\Login\Strategy\Policy\:
        resource: '../src/Service/Login/Strategy/Policy/*'
        autowire: true
        autoconfigure: true
        tags: ['app.login_policy']

    App\Service\Login\Strategy\LoginPolicyResolver:
        arguments:
            $policies: !tagged_iterator app.login_policy

    App\Service\Login\Infrastructure\EventListener\CreateSessionListener:
        tags:
            - { name: kernel.event_listener, event: App\Service\Login\Event\LoginCompletedEvent }

    App\Service\Login\Infrastructure\EventListener\SaveLoginDataListener:
        tags:
            - { name: kernel.event_listener, event: App\Service\Login\Event\LoginCompletedEvent }

