# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    App\Service\Login\LoginStrategyLocal:
        tags:
            - { name: 'app.login_strategy', alias: 'local' }

    App\Service\Login\LoginStrategyProd:
        tags:
            - { name: 'app.login_strategy', alias: 'prod' }

    App\Service\Login\LoginStrategyRedirect:
        tags:
            - { name: 'app.login_strategy', alias: 'redirect' }

    App\Service\Login\LoginFactory:
        arguments:
            $local: '@App\Service\Login\LoginStrategyLocal'
            $prod: '@App\Service\Login\LoginStrategyProd'
            $redirect: '@App\Service\Login\LoginStrategyRedirect'

    App\Service\Login\LoginInterface:
        factory: ['@App\Service\Login\LoginFactory', 'get']
