version: "3.8"

services:
  php:
    build: ./docker/php
    container_name: symfony_app
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db
    expose:
      - "9000"

  nginx:
    image: nginx:latest
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: mysql:8
    container_name: symfony_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  react:
    build: ./frontend
    container_name: react_app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app

  node:
    build: ./node
    container_name: node_app
    ports:
      - "4000:4000"
    volumes:
      - ./node:/app

volumes:
  db_data:
