body {
    width: 100%;          
    height: 100%;
    margin: 0px;
}

#first_toolbar {
    width: 100%;
    height: 30px;
    background-color: red;
}

.buttonstyle {
    width: 120px;
    height: 30px;
    float: left;
    padding: 5px;
    background-color: rgb(180, 180, 255);
}

a {
    margin-top: 0px;
}

.btn-close {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 30px;
    height: 30px;
    background: white;
    color: #000;
    font-weight: 1000;
    line-height: 30px;
    text-align: center;
    font-size: xx-large;
    border-radius: 50%;
    cursor: pointer;
}

.input {
    width: 95%;
    border: none;
    font-size: 16px;
    padding-left: 1px;
}

.popupTable {
    border: none;
    border-collapse: collapse;
}

.button_create {
    margin-top: 5px;
    text-align: right;
    float: right;
}

#open {
    width: 100%;
    height: 485px;
    background-color: white;
}

.main_table {
    table-layout: fixed;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    border: 2px solid rgb(151, 150, 150);
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
    text-align: left;
}

.nominations {
    min-width: 150px;
    margin: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px black solid;
}

.buttonnomim {
    display: block;
    margin-left: 10px;
    width: 200px;
    height: 30px;
    padding: 5px;
    background-color: rgb(180, 180, 255);
}

#nomin_add {
    width: 400px;
    height: 600px;
    background-color: yellowgreen;
}

.nomin_form {
    background-color: bisque;
}

.nomin-error {
    width: 400px;
    height: 80px;
    background-color: rgb(228, 222, 222);
    box-shadow: 0px 0px 0px 7px rgb(143, 143, 143);
}

#create-user {
    width: 400px;
    height: 150px;
    background-color: rgb(230, 225, 225);
    box-shadow: 0px 0px 0px 7px rgb(143, 143, 143);
}

.nomination-dialog {
    width: 560px;
    height: 310px;
    background-color: rgb(230, 225, 225);
    box-shadow: 0px 0px 0px 7px rgb(143, 143, 143);
}

.width_nom {
    width: 135px;
}

.right_click, .right_click_cancel {
    margin: 0;
    display: none;
}

.right_click_active, .right_click_cancel_active {
    margin: 0;
    display: block;
    position: absolute;
    z-index: 1000;
}