.image {
    width: 100%;          
    height: 92vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.central {
    width: 12%;          
    height: 300px;
}

.bars_box {
    width: 44%;          
    height: 460px;
    display: flex;
    align-items: center;
}

.platestyle2 {
    margin-left: 5px;
    border: 3px solid black;
}