body {
    width: 100%;          
    height: 100%;
    margin: 0px;
}

table {
    font-size: x-large;
}

.table_header {
    width: 100%;
    height: 30px;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
    white-space: nowrap;
    margin-bottom: 4px;
}

.table_head {
    margin-right: 5px;
}

.table_head_td {
    padding-right: 300px;
}

.table_header_title {
    width: 100%;
    background-color: rgb(230, 225, 225);
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}

.number {
    width: 2%;
}

.name {
    width: 50%;
}

.width_10 {
    width: 12%;
}

.table {
    width: 100%;
    background-color: white;
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    width: 1%;
    text-align: center;
}

.blue {
    color: blue;
    font-weight: bold;
}

.color {
    background-color: rgb(230, 225, 225);
}