html, body {
    width: 100%;          
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.table_header {
    width: 100%;
    height: 30px;
    background-color: rgb(230, 225, 225);
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
    white-space: nowrap;
}

.table_header_title, .table_scoresheet {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    white-space: nowrap;
}

.table_header_title {
    text-align: center;
}