<dialog open id="connectionDialog" class="modal-box">
    <div class="modal-title">
        <span id="titleText"></span><span id="userCount"></span>
    </div>

    <table id="connectionsTable" class="modal-table">
        <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>IP</th>
                <th>Browser</th>
                <th>Статус користувача</th>
            </tr>
        </thead>
        <tbody>
            {# JS #}
        </tbody>
    </table>

    <div class="modal-info">
        <div id="delMessageOne"></div>
        <div id="delMessageTwo"></div>
        <div id="contMessageOne"></div>
        <div id="contMessageTwo"></div>
    </div>

    <div class="modal-buttons">
        <button id="deleteBtn" class="modal-btn delete">DELETE</button>
        <button id="continueBtn" class="modal-btn continue">CONTINUE</button>
    </div>
</dialog>