<dialog id="errorLoginDialog">
    <div id="messOne"></div>
    <div id="messTwo"></div>
    <div id="messThree"></div>
    <div id="messFour"></div>

    <form>
        <input id="usersId" type="hidden" name="usersId" value="">
        <input id="usersIp" type="hidden" name="usersIp" value="">
        <input id="usersAgent" type="hidden" name="usersAgent" value="">
        <input id="usersLang" type="hidden" name="usersLang" value="">
    </form>

    <div style="text-align: right; margin-top: 20px;">
        <button id="dialogDelete">DELETE</button>
        <button id="dialogContinue">CONTINUE</button>
    </div>
</dialog>