<dialog open id="text-dialog" class="text-dialog">
    <div class="wrapper">
        <div class="btn-close">&times;</div>
            <div id="popup-root" class="container">
            <p>Програма призначена для керування процесом проведення змагань з пауерліфтингу в режимі онлайн, імітуючи роботу</p>
            <p>локальної сітки, що дозволяє одночасно працювати з декількома пристроями, які висвітлюють поточні результати.</p>
            <p>B системі передбачені наступні сценарії роботи: </p>
            <p>💻&nbsp;&nbsp;<b>Адмін.</b>&nbsp;Головний пристрій що дозволяє працювати з даними i керувати роботою клієнтів</p>
            <p>(реєстрація учасників, формування потоків, внесення i висвітлення поточних змін, пре- i по- змагальна документація)</p>
            <p><b>Клієнти.</b></p>
            <p>Система передбачає довільну кількість пристроїв - клієнтів які можуть працювати за наступними сценаріями:</p>
            <ul>
                <li>&nbsp;&nbsp;💻&nbsp;&nbsp;<b>Протокол змагань.</b>&nbsp;Висвітлює поточні протоколи змагань: результати i прогноз результатів поточної сесії, вагової категорії, т.ін.</li>
                <li>&nbsp;&nbsp;💻&nbsp;&nbsp;<b>Порядок виходу.</b>&nbsp;Висвітлює порядок виходу спортсменів в залежності від замовленої ваги, результатів жеребкування, i т.д.</li>
                <li>&nbsp;&nbsp;💻&nbsp;&nbsp;<b>Порядок дисків.</b>&nbsp;Висвітлює порядок закладання дисків для спортсмена на помості та наступного спортсмена.</li>
                <li>&nbsp;&nbsp;💻&nbsp;&nbsp;<b>Інформація.</b>&nbsp;Інформаційне табло змагань що висвітлює інформацію про спортсмена на помості для глядачів.</li> 
                <li>&nbsp;&nbsp;💻&nbsp;&nbsp;<b>Таймер.</b>&nbsp;Контроль часу спроби, часу до початку змагань, т.ін.</li>
                <li>&nbsp;&nbsp;💻&nbsp;&nbsp;<b>Зважування.</b>&nbsp;Окремий клієнт для роботи суддів, що проводять зважування учасників.</li> 
            <ul>
            <p>Дані одразу попадають до системи без необхідності внесення поточних даних зважування учасників через головний пристрій в системі (<b>Адмін</b>).<p>
                {# JS #}
            </div>
        <button type="button">RETURN</button>
    </div>
</dialog>