<dialog id="text-dialog" class="text-dialog">
    <div class="wrapper">
        <div class="btn-close">&times;</div>
            <div id="popup-root" class="container">
            </div>
        <button id="returnToPage" type="button">RETURN</button>
    </div>
</dialog>