<dialog open id="text-dialog" class="text-dialog">
    <div class="wrapper">
        <div class="btn-close">&times;</div>
            <div class="container">
            </div>
        <button type="button">Cancel</button>
    </div>
</dialog>