<form  id="formElem">
    <div class="table-error-container">
        <h1 class="table-error-message">
        </h1>

        <button 
            class="buttonstyle buttonCloseTable closeTable"
            type="button"
        >CLOSE
        </button>
    </div>
</form>